[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiosqlite = "*"
"discord.py" = "==1.7.0"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.9"

[scripts]
bot = "python bot.py"
