[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = ">=3.7.4"
aiohttp-client-cache = "*"
aiosqlite = "*"
discord-ext-menus = {ref = "8686b5d1bbc1d3c862292eb436ab630d6e9c9b53", git = "https://github.com/Rapptz/discord-ext-menus.git"}
"discord.py" = "2.0.1"
uvloop = {version = "*", markers = "sys_platform == 'linux' or sys_platform == 'darwin'"}

[dev-packages]
black = "22.10.0"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.11"

[scripts]
bot = "python bot.py"

[pipenv]
allow_prereleases = true
